sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - v5
  - v4
before_script:
  - npm prune
script:
  - npm run test
after_success:
  - npm run semantic-release
