<ion-side-menus>
  <ion-side-menu side="left" enable-menu-with-back-views="false">
    <menu></menu>
  </ion-side-menu>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    <!-- todo find the correct place for this -->
    <script id="validation-errors.html" type="text/ng-template">
      <div class="error" ng-message="email">
        <i class="ion-information-circled"></i> Invalid email.
      </div>
      <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> Please fill out this field.
      </div>
      <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> Damn too short :(.
      </div>
      <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i> Maximum number of characters reached relax.
      </div>
    </script>
  </ion-side-menu-content>
</ion-side-menus>
